@import '../../variables';

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.modal {
  align-items: center;
  animation-duration: 0.2s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  background-color: $background;
  display: flex;
  flex-direction: column;
  height: 100%;
  inset: 0;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modalContent {
  animation-duration: 0.2s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  background-color: $white;
  border-radius: 12px;
  max-width: 100%;
  overflow: hidden;
  padding: 24px;
  width: 564px;
}
