@import "../../variables";

.options-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 260px;
  max-height: 260px;
  overflow-y: scroll !important;
  border-radius: $border-radius;
  border: 1px solid $light;
  background-color: $white;
  z-index: 1;

  .search-wrapper{
    position: relative;
    height: 40px;
  }
  
  .loupe{
    position: absolute;
    overflow: hidden;
    z-index: 20;
    top: 10px;
    left: 7px;
  }

  .search {
    width: 258px;
    border: none;
    padding: 8px 12px 8px 30px;
    border-bottom: 1px $light solid;
    position: fixed;
    border-radius: $border-radius;
    z-index: 10;
    height: 40px;
  }

  .option {
    display: flex;
    width: 100%;
    text-align: left;
    background-color: $white;
    border: none;
    padding: 8px 12px;
    align-items: center;
    transition: 0.05s all ease-in;

    &:hover {
      background-color: $light;
    }

    &:first-of-type {
      padding-top: 44px;
      // background-color: red;
    }
  }

  .decorator {
    width: 22px;
    height: 16px;
    border-radius: 2px;
    background-position: center;
    background-size: cover;
    border: 1px solid $light-gray;
  }

  .name {
    margin-left: 8px;
    font-size: 14px;
    color: $dark;
  }

  .additional-info {
    margin-left: auto;
  }
}
